body {
  overflow: hidden; 
}
 
/* ini: Preloader */
 
#preloader {
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color: #d3d3d3; /* cor do background que vai ocupar o body */
    z-index:999; /* z-index para jogar para frente e sobrepor tudo */
}
#preloader .inner {
    position: absolute;
    top: 50%; /* centralizar a parte interna do preload (onde fica a animação)*/
    left: 50%;
    transform: translate(-50%, -50%);  
}


.c-loader{
  animation: is-rotation 1s infinite;
  border: 5px solid #e5e5e5;
  border-top-color: #51d4db;
  border-radius: 50%;
  height:  70px;
  width: 70px;
}

@keyframes is-rotation{
 to{
  transform: rotate(1turn);
 }
}

